@import 'commonStyle';

//Services.js
//'toggle' animations
.toggleText-enter {
	opacity: 0.01;
	&.toggleText-enter-active {
		opacity: 1;
		transition: all 500ms ease-out;
	}
}

.toggleText-leave {
	display: none;
}


//ClientResourceDevelopment.js
//'development' animation
.development-enter {
	opacity: 0.5;

	&.development-enter-active {
		opacity: 1;
		transition: all 500ms ease-in-out;
	}
}

.development-leave {
	display: none;
}


//Contact.js
//'contact' animation
.contact-appear {
	opacity: 0.01;
	transform: translateY(500px);
	&.contact-appear-active {
		opacity: 1;
		transform: translateY(0px);
		transition: all 1s ease;
	}
}

.contact-leave {
	padding: 0;
}
