
//About.js
//slp photo
.slp{
	height: 300px;
    filter: brightness(90%);
	background: url(../assets/slp/language-liftoff-slp-jasmin.jpg) 75% top;
	background-size: cover;
	&:hover {
		filter: drop-shadow(5px 5px 2px gray) brightness(102%);
    	transition: all 0.3s ease;
	}
}

//Service.js
//underlining text inside links
.navLink:hover .navLinkTitle{
	text-decoration: underline;
}

//Resource Development
//selected tab
.developmentUl .selected{
    background-color: #C8E6C9;
}
