.slp {
  height: 300px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  background: url(../assets/slp/language-liftoff-slp-jasmin.jpg) 75% top;
  background-size: cover; }
  .slp:hover {
    -webkit-filter: drop-shadow(5px 5px 2px gray) brightness(102%);
            filter: drop-shadow(5px 5px 2px gray) brightness(102%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.navLink:hover .navLinkTitle {
  text-decoration: underline; }

.developmentUl .selected {
  background-color: #C8E6C9; }

.toggleText-enter {
  opacity: 0.01; }
  .toggleText-enter.toggleText-enter-active {
    opacity: 1;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out; }

.toggleText-leave {
  display: none; }

.development-enter {
  opacity: 0.5; }
  .development-enter.development-enter-active {
    opacity: 1;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }

.development-leave {
  display: none; }

.contact-appear {
  opacity: 0.01;
  -webkit-transform: translateY(500px);
          transform: translateY(500px); }
  .contact-appear.contact-appear-active {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

.contact-leave {
  padding: 0; }
